<%- include('layouts/head') %>
   
    <main role="main" class="container-fluid">
            <div class="container">

                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Hayven Files (650)
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a tabindex="-1" href="#">Google Drive</a>
                        </li>
                        <li>
                          <a tabindex="-1" href="#">Dropbox</a>
                        </li>
                        <li>
                          <a tabindex="-1" href="#">OneDrive</a>
                        </li>
                        <li>
                          <a tabindex="-1" href="#">iCloud</a>
                        </li>
                      </ul>
                    </div>
                
                    <div class="searchbutton">
                      <span class="glyphicon glyphicon-search"></span>
                      <input type="text" placeholder="Search" >
                    </div>
                  </div>
                
                  </div>
    </main>
    <%- include('layouts/foot') %>