<div class="action-btn-div">
  <table><tr>
  <td class="action-btn-div-details"><div class="div-details">CONVERSATION ACTIONS</div></td>
  <td>
  <div class="act-btn btn-create-task">Create Task</div>
  <div class="act-btn btn-create-project">Create Project</div>
  <div class="act-btn btn-create-event">Create Event</div>
  <div class="act-btn btn-create-reminder">Create Reminder</div>
  <div class="act-btn btn-create-poll">Create Pool</div>
  <div class="act-btn btn-cleate-file-upload">Upload File</div>
  </td>
  </tr></table>
</div>
<div class="filter-btn-div">
  <h5>View</h5>
  <div class="col-md-6">
    <p class="masonry pointer"><img src="/images/svg/view-tile_20px_800.svg"> Masonry</p>
    <ul>
      <li class="heading">CHATS</li>
      <li><i class="fas fa-check-square fa-lg"></i> Direct</li>
      <li><i class="fas fa-check-square fa-lg"></i> Team</li>
      <li><i class="fas fa-check-square fa-lg"></i> Guests</li>
      <li><i class="fas fa-check-square fa-lg"></i> Online</li>
      <li><i class="fas fa-check-square fa-lg"></i> Flagged</li>
      <li><i class="far fa-square fa-lg"></i> Archived</li>
    </ul>
  </div>
  <div class="col-md-6">
    <p class="classic pointer"><img src="/images/svg/view-classic_20px_800.svg"> Classic</p>
    <ul>
      <li class="heading">WORKSPACES</li>
      <li><i class="fas fa-check-square fa-lg"></i> Navigate</li>
      <li><i class="fas fa-check-square fa-lg"></i> Freelance</li>
      <li><i class="fas fa-check-square fa-lg"></i> Personal</li>
    </ul>
  </div>
</div>

<div id="lightbox-modal" class="lightbox-modal">
  <span class="lightbox-tools"><img src="/images/share_28px_000 @1x.png"></span>
  <span class="lightbox-tools"><img src="/images/download_28px_000 @1x.png"></span>
  <span class="lightbox-tools" onclick="closeModal()"><img src="/images/close_28px_000 @1x.png"></span>
  <div class="lightbox-modal-content">
    <div class="lightbox-slides">
      
    </div>
  </div>
  <a class="lightbox-prev">
    <img src="/images/chevron-previous_34px_000 @1x.png">
  </a>
  <a class="lightbox-next">
    <img src="/images/chevron-next_34px_000 @1x.png">
  </a>
  <div class="lightbox-img-lists">
    
  </div>
</div>


<div class="add_tag_div">
  <div class="title-bar">
    <div class="title">ADD TAGS</div>
    <img src="/images/close_20px_700 @1x.png" class="pointer" onclick="close_pop_div()">
  </div>
  <div class="body">
    <label>Tags</label>
    <input type="text" name="tag_name" class="tag_name" data-role="tagsinput" placeholder="Add tags">
    <div class="tag-lists">
      <!-- <div class="per-tag">
        <span>Finance</span>
        <img src="/images/close_18px_300 @1x.png">
      </div>
      <div class="per-tag">
        <span>Consulting</span>
        <img src="/images/close_18px_300 @1x.png">
      </div>
      <div class="per-tag">
        <span>Accounting</span>
        <img src="/images/close_18px_300 @1x.png">
      </div> -->
    </div>
    <button type="button" class="btn btn-primary btn-block">Add Tags</button>
  </div>
</div>


<div class="share_msg_div">
  <div class="title-bar">
    <div class="title">Share</div>
    <img src="/images/close_20px_700 @1x.png" class="pointer" onclick="close_pop_div()">
  </div>
  <div class="body">
    <label>Share with</label>
    <select class="tag_name_combox tag_name">
      <option>Random Coffee</option>
      <option>Freelance</option>
      <option>Personal</option>
    </select>
    <button type="button" class="btn btn-primary btn-block">Share</button>
  </div>
</div>


<div class="delete_msg_div">
  <div class="body">
    <p class="bodytitle">Delete message</p>
    <p class="msg_body">Considering mobile-first design to infiltrate new markets. Grow outside the box thinking to surprise and delight. Synchronising audience segments so that we make the logo bigger.</p>
    <p class="btn_div" style="float: right;">
    <button type="button" class="btn btn-cancel" onclick="close_pop_div()" style="margin-right:10px;">Cancel</button>
    <button type="button" class="btn btn-del" onclick="delete_commit(this)" data-id="">Delete</button>
    </p>
  </div>
</div>
